*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

# Custom
.idea/**

.idea/
cappuccino-no-op/libs/
cappuccino-sample/libs/
cappuccino-sample/src/main/res/drawable/
projectFilesBackup/
cappuccino-plugin/build/
